# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/
ENV/

# Django
db.sqlite3
media/
staticfiles/
*.log

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
coverage.xml
htmlcov/

# Editor directories and files
.vscode/
.idea/
*.iml

# macOS
.DS_Store
